<h1>My Garage</h1>
<br />
<div class="container-fluid">
  <div class="row">
    {{#each model as |car|}}
      <div class="col-centered col-sm-4">
        <div class="whitebox center-controls ">
          {{!-- {{car.id}} --}}
          <h3 class="underline">{{car.label}}</h3>
          <div>
            <h4>Car Make: {{car.make.make_name}}</h4>
          </div>
          <div>
            <h4>Car Model: {{car.model}}</h4>
          </div>
          <div>
            <h4>Car Year: {{car.year}}</h4>
          </div>
          <div>
            {{car.id}}
            {{#link-to "edit-car" car.id}}
              <button class="btn btn-primary btn-lg extra-bottom-margin" type="button">Edit Car Properties</button>
            {{/link-to}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<br />
<div class="row center-controls">
  {{#link-to "user-dashboard"}}
    <button class="btn btn-warning btn-lg extra-bottom-margin" type="button">Return to Dashboard</button>
  {{/link-to}}
  &nbsp;&nbsp;
  {{#link-to "create-a-new-car-record"}}
    <button class="btn btn-primary btn-lg extra-bottom-margin" type="button">Store a New Car</button>
  {{/link-to}}
</div>
