<form id="service-form" class="col-md-offset-4 col-md-4 form-horizontal" {{action "submit" on='submit'}}>
<legend>Create Maintenance Record</legend>
  <div class="">

{{car-select model=model.cars selectedOption=service.car_id}}
{{service-type-select model=model.service_types selectedOption=service.service_type_id}}
{{service-date-input service_date=service.service_date}}
{{current-mileage-input current_mileage=service.current_mileage}}
{{notes-input notes=service.notes}}

    <div class="container row">
      <div class="col-sm-3">
        {{#link-to "maintenance"}}
          <button type="button" class="btn btn-lg btn-block btn-warning">Previous</button>
        {{/link-to}}
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>
