<div class="table-responsive">
<table class="table table-hover table-striped table-bordered table-condensed">
  <thead>
    <tr class="active">
      <th>Purchase Date</th>
      <th>Gallons of Gas</th>
      <th>Trip Miles</th>
      <th>Price of Gas</th>
      <th>Miles per Gallon</th>
      <th>Price per Mile</th>
      <th>Controls</th>
    </tr>
  </thead>
    <tbody>
      {{#each model as |mileage|}}
      <tr>
        <td>{{moment-format mileage.purchase_date 'MM-DD-YYYY'}}</td>
        <td>{{number-format mileage.gallons_of_gas decimals=1}}</td>
        <td>{{number-format mileage.trip_miles}}</td>
        <td>${{number-format mileage.price_of_gas}}</td>
        <td>{{div mileage.trip_miles mileage.gallons_of_gas}}</td>
        <td>${{div mileage.price_of_gas (div mileage.trip_miles mileage.gallons_of_gas)}}</td>
        <td><button type="button" class="btn btn-warning">Edit</button>&nbsp;<button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{#link-to "create-a-new-mileage-record"}}
  <button class="btn btn-primary btn-lg" type="button">Create A New Mileage Record</button>
{{/link-to}}
