<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if isAuthenticated}}
          {{#link-to "user-dashboard"}}<a class="navbar-brand" href="#">CarTracker</a>{{/link-to}}
        {{else}}
          {{#link-to "index"}}<a class="navbar-brand" href="#">CarTracker</a>{{/link-to}}
        {{/if}}
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      {{#if isAuthenticated}}
        <ul class="nav navbar-nav">
          <li>
            {{#link-to "user-dashboard"}}
            {{fa-icon "tachometer" size=1}}&nbsp;<span>My Dashboard</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              {{fa-icon "road" size=1}}&nbsp;<span>Track Mileage</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              {{fa-icon "wrench" size=1}}&nbsp;<span>Track Maintenance</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "user-dashboard"}}
              {{fa-icon "car" size=1}}&nbsp;<span>Car Profile</span>
            {{/link-to}}
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{fa-icon "user-circle-o" size=1}}&nbsp;&nbsp;{{user}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to "change-password"}}
                <span>Change Password</span>
                {{/link-to}}
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
            </ul>
          </li>
        </ul>
      {{else}}
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#link-to "index"}}
            {{fa-icon "home" size=1}}&nbsp;<span>Home</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "sign-in"}}
              {{fa-icon "sign-in" size=1}}&nbsp;<span>Sign In</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to "sign-up"}}
              {{fa-icon "user-plus" size=1}}&nbsp;<span>Sign Up</span>
            {{/link-to}}
          </li>
        </ul>
      {{/if}}

    </div>
  </div>
</nav>
